@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Banny';
  src: url('/fonts/Banny-BoldRound.woff') format('woff'),
      url('/fonts/Banny-BoldRound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}
