.header-content {
  display: flex;
  justify-content: center;
}

.header-menu-left,
.header-menu-right {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100px;
}

.header-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 100px;
  text-decoration: none;
  color: #FFFFFF;
}

.logo {
  margin: 25px 35px 0 35px;
}

.first-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #0f0a06;
}
