.private-events-block {
  margin-top: 3065px;
}

.private-bg {
  width: 100%;
  height: 675px;
  position: absolute;
  z-index: -1;
  left: 0;
  background-color: #0f0a06;
}

.private-events-title {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  position: absolute;
  display: block;
  margin: 45px 0 0 550px;
  color: #ffffff;
}

.private-events-cards {
  display: flex;
  position: absolute;
  margin-top: 100px;
}

.private-card-left {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.private-yellow-box {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px #000000);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.private-card-img {
  border-radius: 5px;
  margin-left: 125px;
  position: relative;
  z-index: 0;
  filter: drop-shadow(0px 0px 50px #000000);
}

.private-card-title-block {
  width: 80px;
  height: 475px;
  border-radius: 0px 5px 5px 0px;
  background-color: #000000;
  position: absolute;
  margin-left: 520px;
}

.private-card-title-text {
  font-family: 'Banny', 'Gadget', sans-serif;
  font-size: 24px;
  line-height: 12px;
  color: #FFFFFF;
  display: block;
  transform: rotate(90deg);
  margin-top: 56px;
}

.private-card-right {
  display: flex;
  align-items: center;
}

.private-yellow-box-right {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px #000000);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  margin-left: 350px;
}

.private-card-img-right {
  border-radius: 5px;
  position: relative;
  z-index: 0;
  filter: drop-shadow(0px 0px 50px #000000);
}

.private-card-title-block-right {
  width: 80px;
  height: 475px;
  border-radius: 5px 0px 0px 5px;
  background-color: #000000;
  position: absolute;
  z-index: 1;
}

.private-card-title-text-right {
  font-family: 'Banny', 'Gadget', sans-serif;
  font-size: 24px;
  line-height: 12px;
  color: #FFFFFF;
  display: block;
  transform: rotate(-90deg);
  width: 285px;
  margin-top: 305px;
  margin-left: -100px;
}