.specialties-block {
  margin-top: 1453px;
}

.specialtys-bg {
  width: 100%;
  height: 675px;
  position: absolute;
  z-index: -1;
  left: 0;
  background-color: #0f0a06;
}

.specialties-span {
  display: block;
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  color: #ffffff;
  position: absolute;
  margin: 45px 0 0 576px;
}

.slider {
  position: absolute;
}

.slide-content {
  display: flex;
  height: 475px;
  align-items: center;
  margin-top: 100px;
}

.yellow-box-specialties {
  position: absolute;
  z-index: 4;
  top: 226px;
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  filter: drop-shadow(0px 0px 100px #000000);
  border-radius: 5px;
}

.specialties-img {
  background-image: url('../img/slider.jpg');
  width: 475px;
  height: 475px;
  position: absolute;
  z-index: 2;
  top: 100px;
  margin-left: 113px;
  filter: drop-shadow(0px 0px 50px #000000);
  border-radius: 5px;
}

.specialties-text-content {
  width: 599px;
  margin: 0px 0 0 680px;
}

.specialties-title {
  font-family: 'Banny', 'Gadget', sans-serif;
  text-align: center;
  color: #ffffff;
}

.specialties-yellow-line {
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
}

.specialties-p-bold {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  align-items: flex-end;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.specialties-p-light {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  align-items: flex-end;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.slide-pages {
  display: flex;
  margin: 45px 0 0 605px;
}

.page {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 25px;
  cursor: pointer;
}

.page-active {
  background-color: #FFFFFF;
}

.specialties-line-left {
  width: 1px;
  height: 675px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0px;
  left: 215px;
}

.specialties-line-center {
  width: 1px;
  height: 675px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0px;
  left: 639px;
}

.specialties-line-right {
  width: 1px;
  height: 675px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0px;
  left: 1055px;
}